/* Basegrid starts here */

.grid {
  position: relative;
  margin-top: -1px;
}

.grid:before, .grid:after {
  content: "";
  position: absolute;
  width: 100vw;
}

.grid:after {
  top: 0;
  z-index: 20000;
  opacity: 0.4;
  height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 1) var(--grid-size-minus), transparent var(--grid-size-minus)) 0 calc(var(--grid-size-minus) * -1), linear-gradient(rgba(0, 0, 255, 1) var(--grid-size-minus), transparent var(--grid-size-minus));
  background-size: 1px var(--grid-size), 1px var(--grid-size);
}

.grid:before {
  top: calc(var(--base-margin) / 2);
  z-index: 30000;
  opacity: 0.2;
  height: calc(100vh - (var(--base-margin) / 2));
  background: linear-gradient(rgba(255, 255, 255, 1) var(--grid-size-minus), transparent var(--grid-size-minus)) 0 calc(var(--grid-size-minus) * -1), linear-gradient(rgba(255, 0, 0, 1) var(--grid-size-minus), transparent var(--grid-size-minus));
  background-size: 1px var(--grid-size), 1px var(--grid-size);
}